.button-store {
    display: inline-block;
    box-sizing: border-box; /* borda para dentro do tamanho */
    background-color: #252c41;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    border: none; /* padronizar para tag 'button' e tag 'a' */
    bottom: 0;
}

.button-store.-second { /* Variação do CSS principal acima */
    background-color: transparent;
    border: 2px #fff solid;
    width: 220px;
    line-height: 56px; /* ajustado por causa do border-box */
    margin-right: 35px;
}

/* padronizando visual dos botões para tags 'buttom' e 'a' e facilitar sua reutilização, mas cuidado ao implementar por envolver seletores de tags ou crie classes para essas tags */
.button-store > button,
.button-store > a {
    font-size: inherit;
    background-color: inherit;
    border: none;
    color: inherit;
    text-decoration: inherit;
}