.photo-product {
    background-color: #fff;
    display: inline-block; /* permite acomodar o texto ao lado desta imagem */
    /*height: 554px;*/
    width: 40%;
    vertical-align: middle;
    margin-right: 150px;
    border-radius: 0 150px 150px 0;
}

.photo-product > .imgProduct {
    width: 100%;
}

@media (max-width: 1235px) {
    .photo-product {
        width: 40%;
        margin-right: 100px;
        border-radius: 0 100px 100px 0;
    }
}

@media (max-width: 940px) {
    .photo-product {
        display: block;
        width: 70%;
        margin: 0 auto 30px auto;
        border-radius: 50px;
        text-align: center;
    }
}
