.photo-product {
    background-color: #fff;
    display: inline-block; /* permite acomodar o texto ao lado desta imagem */
    height: 554px;
    vertical-align: middle;
    margin-right: 170px;
    border-radius: 0 150px 150px 0;
}