.product-store {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #FFF;
}

.product-store > .title {
    font-size: 25px;
    margin-bottom: 50px;
    display: inline-block;
}

.product-store > .item {
    font-size: 20px;
    margin-bottom: 30px;
}

.product-store > .item.-heart {
    position: absolute;
    top: 8px;
    transform: translateX(-100%);
    left: -47px;
    cursor: pointer;
}

.product-store > .item.-star {
    margin-bottom: 10px;
    cursor: pointer;
}

.product-store > .item .icon {
    transition: transform 100ms linear;
}

.product-store > .item .icon:hover {
    transform: scale(1.2);
    /*transition: transform 100ms linear; o transition aqui a animação só funciona quando entra no hover e não funciona quando sai, então deve ser colocada no elemento e não no seu hover*/
}

.product-store > .item.-star + .item {
    margin-left: 7px;
}

.product-store > .item.-info {
    width: 200px;
    text-align: right;
}

.product-store > .item.-last {
    margin-bottom: 60px;
}

.rateFull,
.rateEmpty {
    display: inline;
    margin-left: 5px;
}

.product-store .contrast {
    text-transform: uppercase;
    float: left;
}

.product-store > .text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.product-store .action {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
}